body {
    background-color: rgb(255, 230, 154);
}
.formcss{
width: 100%;
height: 100%;
display: flex;
justify-content: center;

}


.add-table {
    background-color: rgb(210, 222, 239);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 80%;
    flex-basis: 80%;
    border-collapse: collapse;
}

.content-top {
    flex-basis: 80%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.add-table-div1 {
    flex-basis: 80%;
    display: flex;
    background-color: rgb(91, 155, 213);
    color: white;
    height: 30px;
    padding-top: 5px;

}

.tdInput {
    flex-basis: 100%;
    display: flex;

}

.add-table-th1 {
    min-width: 145px;
    flex-basis: 10%;
}

.add-table-th2 {
    min-width: 150px;
    flex-basis: 5%;
}

.add-table-th3 {
    min-width: 200px;
    flex-basis: 15%;
}

.add-table-th4 {
    min-width: 180px;
    width: 180px;
}

.add-table-th5 {
    min-width: 60px;
    width: 60px;
}

.add-table-th6 {
    min-width: 150px;
    width: 150px;
}

.add-table-th7 {
    min-width: 180px;
    width: 180px;
}

.add-table-th8 {
    min-width: 60px;
    width: 80px;
}

input {
    justify-content: center;
    background-color: rgba(240, 248, 255, 0);
    border: 0;
    margin: auto auto;
}

.addBtn {
    box-shadow: 2px 2px 2px purple, 3px 3px 2px rgb(48, 1, 48), 3px 3px 2px rgb(182, 54, 182) inset;
    background: linear-gradient(45deg, rgb(246, 130, 246), rgb(228, 121, 228));
    backdrop-filter: blur(10px);
    color: gold;
    text-shadow: 1px 1px 3px darkgoldenrod, 2px 2px 3px rgb(85, 62, 4);
    width: 100px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    font-weight: bolder;
    border: 2px solid rgba(255, 217, 0, 0.39);

}