body{
    background-color: rgb(209, 165,233);
}
.container{
    background-color: rgb(251, 210, 149);
}

.canva{
    display: flex;
    flex-basis: 80%;
}
.canva-left{
    box-shadow: 2px 2px 1px #dcb32c inset,0px 0px 2px #b7931e;
    flex-basis: 25%;
    border: 1px solid #b7931e;
}
.canva-right{
    box-shadow: 2px 2px 1px #dcb32c inset,0px 0px 2px #b7931e;
    flex-basis: 50%;
    border: 1px solid #b7931e;
}

#ClasslineBar{
    width: 400px;
}
.backTop{
    position: fixed;
    right:20px;
    bottom: 10px;
}